apiVersion: v1
kind: Pod
metadata:
  name: hello-world
  labels:
    app: hello-world
spec:
  containers:
    - name: web
      image: nginx:alpine
      ports:
        - containerPort: 80
